<div class="card" *ngIf="!(this.isFormMetaReady && this.isDataReady && this.isRelatedDataReady)">
    <div class="card-body" >
        <app-spinner showMessage="true"></app-spinner>
    </div>
</div>
<div class="card" *ngIf="(this.isFormMetaReady && this.isDataReady && this.isRelatedDataReady)">
    <form (ngSubmit)="onSubmit()" [formGroup]="detailsForm">
        
        <div class="card-header">
            <strong>{{ 'AddressDetail_Title' | translate }}</strong>
        </div>
        
        <div class="card-body">
            <div class="form-group row">
                <label class="col-md-3 form-control-label" for="text-input">{{ 'Address_Type' | translate }}</label>
                <div class="col-md-9">
                    <ng-select [options]="addressTypes" formControlName="Type" placeholder="{{'_PleaseSelect' | translate}}"></ng-select>
                    <span class="invalid-feedback" >{{ validator.formErrors["Type"] }}</span>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-3 form-control-label" for="text-input">{{ 'Address_Country' | translate }}</label>
                <div class="col-md-9">
                    <ng-select [options]="countries" formControlName="IdCountry" placeholder="{{'_PleaseSelect' | translate}}"></ng-select>
                    <span class="invalid-feedback" >{{ validator.formErrors["IdCountry"] }}</span>
                </div>
            </div>

            <div class="form-group row" *ngFor="let fieldName of textboxFields">
                <label class="col-md-3 form-control-label" for="text-input">{{ 'Address_' + fieldName | translate }}</label>
                <div class="col-md-9">
                    <input type="text" [formControlName]="fieldName" [id]="fieldName" class="form-control" 
                        placeholder="{{ 'Address_' + fieldName | translate }}">
                    <span class="invalid-feedback" >{{ validator.formErrors[fieldName] }}</span>
                    <!--span *ngIf="(labelTextInfo)" class="help-block">{{ type + '_' + fieldName + '_Info' | translate }}</span-->
                </div>
            </div>

            <div class="form-group row" >
                <label class="col-md-3 form-control-label" for="text-input">{{ 'Address_Comment' | translate }}</label>
                <div class="col-md-9">
                    <textarea id="Comment" formControlName="Comment" rows="9" class="form-control" 
                        placeholder="{{ 'Address_Comment' | translate }}"></textarea>
                    <span class="invalid-feedback" >{{ validator.formErrors["Comment"] }}</span>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <button type="submit" [promiseBtn]="promiseEdit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> {{ '_Save' | translate }}</button>
            <button type="reset" (click)="onCancel()" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> {{ '_Cancel' | translate }}</button>
        </div>
    </form>
</div>