<div class="card">
    <div class="card-header">
        {{ 'AddressList_Title' | translate }}
    </div>
    <div class="card-body">
      <button type="button" routerLink="details/" class="btn btn-primary px-4 mb-3">{{ 'Address_New' | translate }}</button>

      <ngx-datatable class="material" [rows]="rows" [columnMode]="'force'" [headerHeight]="70"
      [footerHeight]="0" [rowHeight]="'auto'" [limit]="20" [selectionType]="'single'" 
      [loadingIndicator] = "isLoading"
      [messages]="{emptyMessage: 'table_NoData' | translate, totalMessage: 'table_Total' | translate}">

        <ngx-datatable-column prop="Type">
          <ng-template let-column="column" ngx-datatable-header-template>
             {{'Address_Type' | translate}}  <br>
              <select (change)="updateSelectionFilter($event,'Type')" class="w-100">
                <option value="" selected="selected">{{'_FilterSelectPlaceHolder' | translate}}</option>
                <option *ngFor="let f of addressTypes" [value]="f.value">{{f.label}}</option>
              </select>
          </ng-template>
          <ng-template let-value="value" ngx-datatable-cell-template>
              {{'Address_Type_' + value | translate}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column >
            <ng-template let-column="column" ngx-datatable-header-template>
               {{'Address_Country' | translate}} 
               <br><input type='text' placeholder='{{ "_FilterInputPlaceHolder" | translate }}' 
               (keyup)='updateFilter($event, "Country.Name")'/>
            </ng-template>
            <ng-template let-row="row" ngx-datatable-cell-template>
               {{getCountryName(row)}}
            </ng-template>
          </ngx-datatable-column>
        <ngx-datatable-column prop="Line1">
          <ng-template let-column="column" ngx-datatable-header-template>
             {{'Address_Details' | translate}}
             <br><input type='text' placeholder='{{ "_FilterInputPlaceHolder" | translate }}' 
             (keyup)='updateFilter($event, "Line1")'/>
          </ng-template>
          <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
             {{row.Line1}}&nbsp;{{row.Line2}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column prop="PostCode">
            <ng-template let-column="column" ngx-datatable-header-template>
               {{'Address_PostCode' | translate}}
               <br><input type='text' placeholder='{{ "_FilterInputPlaceHolder" | translate }}' 
               (keyup)='updateFilter($event, "PostCode")'/>
            </ng-template>
            <ng-template let-value="value" ngx-datatable-cell-template>
               {{value}}
            </ng-template>
          </ngx-datatable-column>
        
        <ngx-datatable-column editable="true" cellClass="datatable-body-cell-actions">
          <ng-template let-column="column" ngx-datatable-header-template>
            {{'_Actions' | translate}}
            <button type="button" class="btn btn-primary btn-sm onrightop" (click)="getData()" tooltip="{{'_Refresh' | translate}}" placement="left">
                <i class="fa fa-refresh" aria-hidden="true"></i></button>
          </ng-template>
          <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" >
              <button type="button" class="btn btn-primary btn-sm" (click)="onDelete(row)" tooltip="{{'_Delete' | translate}}"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
              <a class="btn btn-primary btn-sm" routerLink="details/{{row.IdAddress}}" tooltip="{{'_Edit' | translate}}" ><i class="fa fa-pencil" aria-hidden="true"></i></a>
          </ng-template>                    
        </ngx-datatable-column>
      </ngx-datatable>

    </div>
</div>
