<div class="animated fadeIn">
    <div class="row">
        <h4>{{ 'EntityDetail_Title_' + type | translate }}&nbsp;:&nbsp;{{ name ? '' : name }}</h4>
        <div class="col-md-12 mb-10">
            <!-- <tabset>
                <tab>
                    <template tabHeading >
                        <i class="icon-book-open"></i> {{ 'Entity_Definition' | translate }} &nbsp;
                        <span *ngIf="isNew" class="badge badge-success">{{ '_New' | translate }}</span>
                    </template>
                    <entity-detail-definition [id]="id" [type]="type" [data]="data" ></entity-detail-definition>
                </tab>
                <tab>
                    <template tabHeading>
                        <i class="icon-location-pin"></i> {{ '_Addresses' | translate }} &nbsp;
                    </template>
                    <agro-address-list [idEntity]="id" ></agro-address-list>
                </tab>
            </tabset> -->
            <router-outlet></router-outlet>
        </div>
    <!--/.col-->
    </div>
</div>