<div class="card">
    <div class="card-header">
        {{ 'EntityList_Title_' + type | translate }}
    </div>
    <div class="card-body">
      <button type="button" routerLink="/admin/entity/{{this.type}}/details" class="btn btn-primary px-4 mb-3">{{ type + '_New' | translate }}</button>

      <ngx-datatable class="material" [rows]="rows" [columnMode]="'force'" [headerHeight]="70"
      [footerHeight]="0" [rowHeight]="'auto'" [limit]="20" [selectionType]="'single'" 
      [loadingIndicator] = "isLoading"
      [messages]="{emptyMessage: 'table_NoData' | translate, totalMessage: 'table_Total' | translate}">
        
        <ngx-datatable-column name="Entity_Doc" prop="Doc">
          <ng-template let-column="column" ngx-datatable-header-template>
             {{'Entity_Doc' | translate}}
             <br><input type='text' placeholder='{{ "_FilterInputPlaceHolder" | translate }}' (keyup)='updateFilter($event, "Doc")'/>
          </ng-template>
          <ng-template let-value="value" ngx-datatable-cell-template>
             {{value}}
          </ng-template> 
        </ngx-datatable-column>
        <ngx-datatable-column name="Entity_Name" prop="Name">
          <ng-template let-column="column" ngx-datatable-header-template>
             {{'Entity_Name' | translate}} 
             <br><input type='text' placeholder='{{ "_FilterInputPlaceHolder" | translate }}' (keyup)='updateFilter($event, "Name")'/>
          </ng-template>
          <ng-template let-value="value" ngx-datatable-cell-template>
             {{value}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Entity_SocialName" prop="Name">
            <ng-template let-column="column" ngx-datatable-header-template>
               {{'Entity_SocialName' | translate}} 
               <br><input type='text' placeholder='{{ "_FilterInputPlaceHolder" | translate }}' (keyup)='updateFilter($event, "SocialName")'/>
            </ng-template>
            <ng-template let-value="value" ngx-datatable-cell-template>
               {{value}}
            </ng-template>
          </ngx-datatable-column>
        <ngx-datatable-column name="Entity_Phone1" prop="Phone1">
          <ng-template let-column="column" ngx-datatable-header-template>
             {{'Entity_Phone1' | translate}}
             <br><input type='text' placeholder='{{ "_FilterInputPlaceHolder" | translate }}' (keyup)='updateFilter($event, "Phone1")'/>
          </ng-template>
          <ng-template let-value="value" ngx-datatable-cell-template>
             {{value}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Entity_Phone2" prop="Phone2">
          <ng-template let-column="column" ngx-datatable-header-template>
             {{'Entity_Phone2' | translate}}
             <br><input type='text' placeholder='{{ "_FilterInputPlaceHolder" | translate }}' (keyup)='updateFilter($event, "Phone2")'/>
          </ng-template>
          <ng-template let-value="value" ngx-datatable-cell-template>
             {{value}}
          </ng-template>
        </ngx-datatable-column>
        
        <ngx-datatable-column editable="true" cellClass="datatable-body-cell-actions">
          <ng-template let-column="column" ngx-datatable-header-template>
            {{'_Actions' | translate}}
            <button type="button" class="btn btn-primary btn-sm onrightop" (click)="getData()" tooltip="{{'_Refresh' | translate}}" placement="left">
                <i class="fa fa-refresh" aria-hidden="true"></i></button>
          </ng-template>
          <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" >
            <button type="button" class="btn btn-primary btn-sm" (click)="onDelete(row)" tooltip="{{'_Delete' | translate}}"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
            <a class="btn btn-primary btn-sm" routerLink="/admin/entity/{{this.type}}/details/{{row.IdEntity}}/definition/" tooltip="{{'_Edit' | translate}}" ><i class="fa fa-pencil" aria-hidden="true"></i></a>
            <a class="btn btn-primary btn-sm" routerLink="/admin/entity/{{this.type}}/details/{{row.IdEntity}}/address/" tooltip="{{'AddressList_Title' | translate}}" ><i class="fa fa-location-arrow" aria-hidden="true"></i></a>
          </ng-template>                    
        </ngx-datatable-column>
      </ngx-datatable>

    </div>
</div>
