<div class="card">
    <div class="card-header">
        {{ 'MaterialList_Title' | translate }}
    </div>
    <div class="card-body">
      <button type="button" routerLink="details/" class="btn btn-primary px-4 mb-3">{{ 'Material_New' | translate }}</button>

      <ngx-datatable class="material" [rows]="rows" [columnMode]="'force'" [headerHeight]="70"
      [footerHeight]="0" [rowHeight]="'auto'" [limit]="20" [selectionType]="'single'" 
      [loadingIndicator] = "isLoading"
      [messages]="{emptyMessage: 'table_NoData' | translate, totalMessage: 'table_Total' | translate}">

        <ngx-datatable-column prop="Description">
          <ng-template let-column="column" ngx-datatable-header-template>
             {{'Material_Name' | translate}}  <br>
             <input type='text' placeholder='{{ "_FilterInputPlaceHolder" | translate }}' 
             (keyup)='updateFilter($event, "Description")'/>
          </ng-template>
          <ng-template let-value="value" ngx-datatable-cell-template>
              {{value}}
          </ng-template>
        </ngx-datatable-column>
        
        <ngx-datatable-column editable="true" cellClass="datatable-body-cell-actions">
          <ng-template let-column="column" ngx-datatable-header-template>
            {{'_Actions' | translate}}
            <button type="button" class="btn btn-primary btn-sm onrightop" (click)="getData()" tooltip="{{'_Refresh' | translate}}" placement="left">
                <i class="fa fa-refresh" aria-hidden="true"></i></button>
          </ng-template>
          <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" >
              <button type="button" class="btn btn-primary btn-sm" (click)="onDelete(row)" tooltip="{{'_Delete' | translate}}"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
              <a class="btn btn-primary btn-sm" routerLink="details/{{row.IdMaterial}}" tooltip="{{'_Edit' | translate}}" ><i class="fa fa-pencil" aria-hidden="true"></i></a>
          </ng-template>                    
        </ngx-datatable-column>
      </ngx-datatable>

    </div>
</div>
