<div class="card">
    <div class="card-header">
        {{ 'AttachList_Title' | translate }}
    </div>
    <div class="card-body">

      <div class="form-group row">
          <label class="col-md-3 form-control-label" for="text-input">{{ 'Attach_Upload' | translate }}</label>
          <div class="col-md-3">
              <agro-attach-upload [type]="type" [idSource]="idSource" (onUploaded)="getData()"></agro-attach-upload>
          </div>
      </div>

      <ngx-datatable class="material" [rows]="rows" [columnMode]="'flex'" [headerHeight]="70"
      [footerHeight]="0" [rowHeight]="'auto'" [limit]="20" [selectionType]="'single'" 
      [loadingIndicator] = "isLoading"
      [messages]="{emptyMessage: 'table_NoData' | translate, totalMessage: 'table_Total' | translate}">


        <ngx-datatable-column prop="TypeOf" [flexGrow]="1">
            <ng-template let-column="column" ngx-datatable-header-template>
                {{'Attach_TypeOf' | translate}}
            </ng-template>
            <ng-template let-value="value" ngx-datatable-cell-template>
                <i class="fa {{getIconByMimeType(value)}}" aria-hidden="true"></i>
            </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column prop="Title" [flexGrow]="8">
          <ng-template let-column="column" ngx-datatable-header-template>
              {{'Attach_Title' | translate}}
              <br><input type='text' placeholder='{{ "_FilterInputPlaceHolder" | translate }}' 
              (keyup)='updateFilter($event, "Title")'/>
          </ng-template>
          <ng-template let-value="value" ngx-datatable-cell-template>
              {{value}}
          </ng-template>
        </ngx-datatable-column>
        
        <ngx-datatable-column editable="true" [flexGrow]="3" cellClass="datatable-body-cell-actions">
          <ng-template let-column="column" ngx-datatable-header-template>
            {{'_Actions' | translate}}
          </ng-template>
          <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" >
              <button type="button" class="btn btn-primary btn-sm" (click)="onDelete(row)" tooltip="{{'_Delete' | translate}}"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
              <a class="btn btn-primary btn-sm" routerLink="details/{{row.IdAttach}}" tooltip="{{'_Edit' | translate}}" ><i class="fa fa-pencil" aria-hidden="true"></i></a>
              <button type="button" class="btn btn-primary btn-sm" (click)="onDownloadFile(row)"><i class="fa fa-download" aria-hidden="true"></i></button>
          </ng-template>                    
        </ngx-datatable-column>
      </ngx-datatable>

  </div> 
</div>