
<div class="card" *ngIf="!(this.isFormMetaReady && this.isDataReady)">
    <div class="card-body" >
        <app-spinner showMessage="true"></app-spinner>
    </div>
</div>
<div class="card" *ngIf="(this.isFormMetaReady && this.isDataReady)" >
    <div class="card-header">
        <strong>{{ 'PackingDetail_Title' | translate }}</strong>
    </div>
    <div class="card-body">
        <agro-translation #translations [translations]="this.data?.PackingLanguage"></agro-translation>
    </div>
    <div class="card-footer">
        <button type="button" (click)="onSubmit()" [promiseBtn]="promiseEdit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> {{ '_Save' | translate }}</button>
        <button type="reset" (click)="onCancel()" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> {{ '_Cancel' | translate }}</button>
    </div>
</div>