<div class="app flex-row align-items-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card-group mb-0">
          <div class="card p-4">
            <div>
                <span style="display: block; width: 150px; margin: 0 auto;">
                    {{ 'Lang_Language' | translate }}: 
                  <select #langSelect (change)="translate.use(langSelect.value)">
                    <option *ngFor="let lang of translate.getLangs()" 
                      [value]="lang" [selected]="lang === translate.currentLang">{{ 'Lang_' + lang | translate }}</option>
                  </select>
                </span>
            </div>
            <div class="card-body">
              <h2>{{ 'Auth_Title' | translate }}</h2>
              <p class="text-muted">{{ 'Auth_Subtitle' | translate }}</p>
            
              <div *ngIf="!loginForm && !connectionError">
                <app-spinner showMessage="true"></app-spinner>
              </div>

              <div id="toast-container" style="position: inherit;" *ngIf="connectionError" >
                <div class="toast-error toast ng-trigger ng-trigger-flyInOut" style="opacity: 1;">
                    <div class="toast-title" aria-label="Error">
                        {{'_error' | translate}}
                    </div>
                    <div class="toast-message" aria-label="Revisa los campos incorrectos.">
                        {{'Error_Connection' | translate}}
                    </div>
                    <div>
                      <button type="button" (click)="ngOnInit()" class="btn btn-accent px-4 mt-4">{{ '_Retry' | translate }}</button>
                    </div>
                </div>
              </div>

              <form (ngSubmit)="onLogin()" [formGroup]="loginForm" *ngIf="loginForm">

                <div class="form-group mb-4">
                    <div class="controls">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="icon-user"></i></span>
                            <input id="Username"  type="text" placeholder="{{ 'Auth_Username' | translate }}"
                              formControlName="Username" 
                              class="form-control {{this.validator.formErrors.Username ? 'is-invalid' : ''}}">
                        </div>
                        <div class="invalid-feedback" >{{ validator.formErrors.Username }}</div>
                    </div>
                </div>

                <div class="form-group mb-4">
                    <div class="controls">
                        <div class="input-prepend input-group">
                            <span class="input-group-addon"><i class="icon-lock"></i></span>
                            <input id="Password"  type="password" placeholder="{{ 'Auth_Password' | translate }}"
                              formControlName="Password" 
                              class="form-control {{this.validator.formErrors.Password ? 'is-invalid' : ''}}">
                        </div>
                        <div class="invalid-feedback">{{ validator.formErrors.Password }}</div>
                    </div>
                </div>

                <div class="row">
                  <div class="col-6">
                    <button type="submit" 
                      [promiseBtn]="promiseLogin"
                      class="btn btn-primary px-4">{{ 'Auth_Login' | translate }}</button>
                  </div>
                  <!-- <div class="col-6 text-right">
                    <button type="button" class="btn btn-link px-0">{{ 'Auth_ForgotPassword' | translate }}</button>
                  </div> -->
                </div>
              </form>
            </div>
            <ng-template #versionTooltip>
              <div>Front: v {{version.Front}}</div>
              <div>Back: v {{version.Back}}</div>
              <div>DB: v {{version.DB}}</div>
            </ng-template>
            <div style="border-top: 1px solid #c2cfd6;">
               DEV | <span style="cursor: pointer;" >{{version.Front}}</span><!--[tooltipHtml]="versionTooltip"  text-decoration: underline;-->
            </div>
          </div>
          <div class="card text-white bg-primary py-5 d-md-down-none" style="width:44%">
              <div class="card-body text-center">
                <div>
                  <img src="/assets/img/logo.png" alt="Logo Agroturus" style="height: 120px;">
                  <h2>Agroturus</h2>
                  <p>{{ 'Auth_Info' | translate }}</p>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
