/*http://tobiasahlin.com/spinkit/*/

.spinner-mini {
    width: 16px;
    height: 16px;
    position: relative;
    margin-left: 10px;
    display: none;
  }

  .is-loading .spinner-mini
  {
    display: inline-block;
  }

  .spinner {
    width: 40px;
    height: 40px;
    position: relative;
    margin: 10px auto;
  }

  .bounce-neutral {
    background-color:#ccc ;
  }
  
  .double-bounce1, .double-bounce2 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color:#ccc ;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;
    
    -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
    animation: sk-bounce 2.0s infinite ease-in-out;
  }
  
  .double-bounce2 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
  }
  
  @-webkit-keyframes sk-bounce {
    0%, 100% { -webkit-transform: scale(0.0) }
    50% { -webkit-transform: scale(1.0) }
  }
  
  @keyframes sk-bounce {
    0%, 100% { 
      transform: scale(0.0);
      -webkit-transform: scale(0.0);
    } 50% { 
      transform: scale(1.0);
      -webkit-transform: scale(1.0);
    }
  }