<button type="button" (click)="onAdd($event)" [disabled]="(this.remainingMaterials.length == 0)" 
  class="btn btn-primary px-4 mb-3">{{ 'ProductMaterial_New' | translate }}</button>

<ngx-datatable class="material" [rows]="rows" [columnMode]="'force'" [headerHeight]="70"
[footerHeight]="0" [rowHeight]="'auto'" [limit]="20" [selectionType]="'single'" 
[loadingIndicator] = "isLoading"
[messages]="{emptyMessage: 'table_NoData' | translate, totalMessage: 'table_Total' | translate}">

  <ngx-datatable-column name="ProductMaterial_Material" prop="IdMaterial">
    <ng-template let-column="column" ngx-datatable-header-template>
        {{'Material_Name' | translate}}
    </ng-template>
    <ng-template let-rowIndex="rowIndex" let-value="value" let-row="row" ngx-datatable-cell-template>
        <select class="w-100" (change)="onMaterialChange($event, rowIndex)">
          <option value="row.IdMaterial" >{{getMaterialDesc(row.IdMaterial)}}</option>
          <option *ngFor="let l of this.remainingMaterials" [value]="l.IdMaterial">{{l.Description}}</option> 
        </select>
    </ng-template> 
  </ngx-datatable-column>

  <ngx-datatable-column name="Material_Percentage" prop="Percentage">
    <ng-template let-column="column" ngx-datatable-header-template>
        {{'Material_Percentage' | translate}} 
    </ng-template>
    <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value">
        <input type="number" class="w-100" [value]="value" 
          (blur)="updateTextValue($event, rowIndex)"
          placeholder="{{ 'Material_Percentage' | translate }}">
    </ng-template>
  </ngx-datatable-column>
  
  <ngx-datatable-column editable="true" cellClass="datatable-body-cell-actions">
    <ng-template let-column="column" ngx-datatable-header-template>
      {{'_Actions' | translate}}
      <button type="button" class="btn btn-primary btn-sm onrightop" (click)="getData()" tooltip="{{'_Refresh' | translate}}" placement="left">
          <i class="fa fa-refresh" aria-hidden="true"></i></button>
    </ng-template>
    <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" >
      <button type="button" class="btn btn-primary btn-sm" (click)="onDelete(row)" tooltip="{{'_Delete' | translate}}">
        <i class="fa fa-trash-o" aria-hidden="true"></i></button>
    </ng-template>                    
  </ngx-datatable-column>

</ngx-datatable>