<div class="card" *ngIf="!(this.isFormMetaReady && this.isDataReady && this.isRelatedDataReady)">
    <div class="card-body" >
        <app-spinner showMessage="true"></app-spinner>
    </div>
</div>
<div class="card" *ngIf="(this.isFormMetaReady && this.isDataReady && this.isRelatedDataReady)">
    <form (ngSubmit)="onSubmit()" [formGroup]="detailsForm" >

        <div class="card-header">
            <strong>{{ 'TemplateDetail_Title' | translate }}</strong>
        </div>
        
        <div class="card-body">

            <div class="form-group row">
                <label class="col-md-3 form-control-label" for="text-input">
                    {{ 'Template_Sys' | translate }}
                    <span *ngIf="validator?.isRequired('Sys')" class="required-label"></span>
                </label>
                <div class="col-md-3">
                    <input type="text" formControlName="Sys" id="Sys" class="form-control" 
                        placeholder="{{ 'Template_Sys' | translate }}">
                    <span class="invalid-feedback" >{{ validator.formErrors["Sys"] }}</span>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-3 form-control-label" for="text-input">
                    {{ 'Template_Sys2' | translate }}
                    <span *ngIf="validator?.isRequired('Sys2')" class="required-label"></span>
                </label>
                <div class="col-md-3">
                    <input type="text" formControlName="Sys2" id="Sys2" class="form-control" 
                        placeholder="{{ 'Template_Sys2' | translate }}">
                    <span class="invalid-feedback" >{{ validator.formErrors["Sys2"] }}</span>
                </div>
            </div>

            <div class="form-group row" >
                <agro-translation class="col-md-12" #translations [translations]="this.data?.TemplateLanguage" [columns]="transColumns" ></agro-translation>
            </div>

        </div>
        <div class="card-footer">
            <button type="submit" [promiseBtn]="promiseEdit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> {{ '_Save' | translate }}</button>
            <button type="reset" (click)="onCancel()" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> {{ '_Cancel' | translate }}</button>
        </div>
    </form>
</div>