<div class="card">
    <div class="card-header">
        {{ 'TemplateList_Title' | translate }}
    </div>
    <div class="card-body">
      <button type="button" routerLink="/admin/templates/details/" class="btn btn-primary px-4 mb-3">{{ 'Template_New' | translate }}</button>
      <a class="btn btn-primary px-4 mb-3" routerLink="../templatestree">{{ 'TemplateTree_Title' | translate }}</a>

      <ngx-datatable class="material" [rows]="rows" [columnMode]="'flex'" [headerHeight]="70"
      [footerHeight]="0" [rowHeight]="'auto'" [limit]="20" [selectionType]="'single'" 
      [loadingIndicator] = "isLoading"
      (select)='onSelect($event)'
      [messages]="{emptyMessage: 'table_NoData' | translate, totalMessage: 'table_Total' | translate}">

        <ngx-datatable-column prop="Sys" [flexGrow]="1">
          <ng-template let-column="column" ngx-datatable-header-template>
             {{'Template_Sys' | translate}}
						 <br><input type='text' placeholder='{{ "_FilterInputPlaceHolder" | translate }}' 
						 (keyup)='updateFilter($event, "Sys")'/>
          </ng-template>
          <ng-template let-value="value" ngx-datatable-cell-template>
              {{value}}
          </ng-template>
				</ngx-datatable-column>

        <ngx-datatable-column prop="Sys2" [flexGrow]="1">
          <ng-template let-column="column" ngx-datatable-header-template>
             {{'Template_Sys2' | translate}}
						 <br><input type='text' placeholder='{{ "_FilterInputPlaceHolder" | translate }}' 
						 (keyup)='updateFilter($event, "Sys2")'/>
          </ng-template>
          <ng-template let-value="value" ngx-datatable-cell-template>
              {{value}}
          </ng-template>
				</ngx-datatable-column>
				
        <ngx-datatable-column prop="Name" [flexGrow]="8">
					<ng-template let-column="column" ngx-datatable-header-template>
							{{'Template_Name' | translate}}
							<br><input type='text' placeholder='{{ "_FilterInputPlaceHolder" | translate }}' 
							(keyup)='updateFilter($event, "Name")'/>
					</ng-template>
					<ng-template let-value="value" ngx-datatable-cell-template>
							{{value}}
					</ng-template>
        </ngx-datatable-column>
        
        <ngx-datatable-column editable="true" cellClass="datatable-body-cell-actions" [flexGrow]="2">
          <ng-template let-column="column" ngx-datatable-header-template>
            {{'_Actions' | translate}}
            <button type="button" class="btn btn-primary btn-sm onrightop" (click)="getData()" tooltip="{{'_Refresh' | translate}}" placement="left">
                <i class="fa fa-refresh" aria-hidden="true"></i></button>
          </ng-template>
          <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" >
              <button type="button" class="btn btn-primary btn-sm" (click)="onDelete(row)" tooltip="{{'_Delete' | translate}}"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
              <a class="btn btn-primary btn-sm" routerLink="/admin/templates/details/{{row.IdTemplate}}" tooltip="{{'_Edit' | translate}}" ><i class="fa fa-pencil" aria-hidden="true"></i></a>
          </ng-template>                    
        </ngx-datatable-column>
      </ngx-datatable>

    </div>
</div>
