<div *ngIf="isLoading">
    <app-spinner showMessage="true"></app-spinner>
</div>

<tree-root #tree *ngIf="!isLoading" [nodes]="nodes"
[(state)]="state"
[options]="options">
<ng-template #loadingTemplate>
    <!-- <app-spinner></app-spinner> -->
    <div class="spinner-mini"><div class="double-bounce1 bounce-neutral"></div><div class="double-bounce2 bounce-neutral"></div></div>
    {{'_Loading' | translate}}...
</ng-template>
<ng-template #treeNodeTemplate let-node let-index="index">
    <div class="input-group">
        <span class="mr-2 mt-1">
            <i class="icon-{{node.data.type == 'product' ? 'puzzle' : 'notebook'}}"></i>&nbsp;
            {{ node.isRoot ? '' : node.data.Units + ' x ' }}{{ node.data.name }}
        </span>
        <span class="input-group-btn" *ngIf="mode=='editor'">
            <button *ngIf="node.isRoot || !node.isLeaf" type="button" class="btn btn-primary btn-sm mr-1" (click)="onNodeAdd(node)" [promiseBtn]="promiseAdd" tooltip="{{'TemplateTree_Action_adding' | translate}}"  placement="left"><i class="fa fa-plus-circle" aria-hidden="true"></i></button>  
            <button *ngIf="!node.isRoot || !node.isLeaf" type="button" class="btn btn-primary btn-sm mr-1" (click)="onNodeDelete(node)" [promiseBtn]="promiseDelete" tooltip="{{'_Delete' | translate}}" placement="left" ><i class="fa fa-trash-o" aria-hidden="true"></i></button>
            <button *ngIf="!node.isRoot" type="button" class="btn btn-primary btn-sm" (click)="onNodeEdit(node)" tooltip="{{'_Edit' | translate}}" placement="left" ><i class="fa fa-pencil" aria-hidden="true"></i></button>
        </span>
    </div>
</ng-template>
</tree-root>
          