<div class="card">
    <div class="card-header">
        {{ 'TemplateTree_Title' | translate }}
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col">
                <button type="button" routerLink="details/" class="btn btn-primary px-4 mb-3">{{ 'Template_New' | translate }}</button>
                <a class="btn btn-primary px-4 mb-3" routerLink="../template">{{ 'TemplateList_Title' | translate }}</a>    
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">                       
                        <agro-template-tree (onEdit)="templateTreeOnEdit($event)" (onAdd)="templateTreeOnAdd($event)" 
                        (onDeleted)="templateTreeOnDeleted($event)" 
                        [promiseAction]="promiseAction" [mode]="'editor'"></agro-template-tree>
                    </div>
                </div>
            </div>
          
            <div class="col-md-6" *ngIf="currentAction == 'editing'">
                <div class="card">
                    <div class="card-header">
                        {{ 'TemplateTree_Action_' + currentAction | translate }} : 
                        {{ currentNode.data.name }}
                    </div>
                    <div class="card-body">
                            {{ 'Template_Units' | translate}} : 
                            <input type="number" [value]="editingUnits" (blur)="updateEditingUnits($event)" style="width: 60px;">
                            
                    </div>
                    <div class="card-footer">
                        <button type="button" class="btn btn-primary btn-sm" (click)="onSave(node)" [promiseBtn]="promiseAction" >
                            <i class="fa fa-floppy-o" aria-hidden="true"></i>
                            &nbsp;{{ '_Save' | translate }}
                        </button>
                    </div>
                </div>
            </div>

            <div class="col-md-6" *ngIf="currentAction == 'adding'">
                <div class="card">
                    <div class="card-header">
                        {{ 'TemplateTree_Action_' + currentAction | translate }} : 
                        {{ currentNode.data.name }}
                    </div>
                    <div class="card-body">
                            
                        <tabset *ngIf="currentAction == 'adding'">
                            <tab>
                                <ng-template tabHeading >
                                    <i class="icon-puzzle"></i> {{ '_Products' | translate }} &nbsp;
                                    <span *ngIf="isNew" class="badge badge-success">{{ '_New' | translate }}</span>
                                </ng-template>
                                <button type="button" (click)="onAddProduct()" class="btn btn-primary px-4 mb-3" [promiseBtn]="promiseAction">
                                    {{ 'Template_AddProduct' | translate }}
                                </button>
                                {{ 'Template_Units' | translate }} <input type="number" (blur)="updateProductUnits($event)" >
                                <agro-product-list (select)='onProductSelected($event)'></agro-product-list>
                            </tab>
                            <tab>
                                <ng-template tabHeading>
                                    <i class="icon-notebook"></i> {{ '_Templates' | translate }} &nbsp;
                                </ng-template>
                                <button type="button" (click)="onAddTemplate()" class="btn btn-primary px-4 mb-3" [promiseBtn]="promiseAction">
                                    {{ 'Template_AddTemplate' | translate }}
                                </button>
                                {{ 'Template_Units' | translate }} <input type="number" (blur)="updateTemplateUnits($event)"  >
                                <agro-template-list (select)='onTemplateSelected($event)'></agro-template-list>
                            </tab>
                        </tabset>
                            
                    </div>
                    <div class="card-footer">
                        <!-- <button type="button" class="btn btn-primary btn-sm" (click)="onSave(node)" [promiseBtn]="promiseAction" >
                            {{ '_Save' | translate }}
                            &nbsp;<i class="fa fa-floppy-o" aria-hidden="true"></i>
                        </button> -->
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
