<div class="card" *ngIf="!(this.isFormMetaReady && this.isDataReady && this.isRelatedDataReady)">
        <div class="card-body" >
            <app-spinner showMessage="true"></app-spinner>
        </div>
    </div>
<div class="card" *ngIf="(this.isFormMetaReady && this.isDataReady && this.isRelatedDataReady)">
    <form (ngSubmit)="onSubmit()" [formGroup]="detailsForm" >
        
        <div class="card-header">
            <strong>{{ 'ProductDetail_Title' | translate }}</strong>
        </div>
        
        <div class="card-body">
            <div class="form-group row">
                <label class="col-md-3 form-control-label" for="text-input">
                    {{ 'Product_Incode' | translate }}
                    <span *ngIf="validator?.isRequired('Incode')" class="required-label"></span>
                </label>
                <div class="col-md-9">
                    <input type="text" formControlName="Incode" id="Product_Incode" class="form-control" 
                        placeholder="{{ 'Product_Incode' | translate }}">
                    <span class="invalid-feedback" >{{ validator.formErrors["Incode"] }}</span>
                </div>
            </div>

            <div class="form-group row" >
                <agro-translation class="col-md-12" #translations [translations]="this.data?.ProductLanguage"></agro-translation>
            </div>

            <div class="form-group row" >
                <div class="col-md-3">
                    <label class="form-control-label" for="text-input">
                        {{ 'Product_Dimensions' | translate }}
                    </label>
                </div>
                <div class="col-md-3">
                    <input type="number" formControlName="Width" id="Width" class="form-control" 
                        placeholder="{{ 'Product_Width' | translate }}"> mm.
                    <span class="invalid-feedback" >{{ validator.formErrors["Width"] }}</span>
                </div>
                <div class="col-md-3">
                    <input type="number" formControlName="Height" id="Height" class="form-control" 
                        placeholder="{{ 'Product_Height' | translate }}"> mm.
                    <span class="invalid-feedback" >{{ validator.formErrors["Height"] }}</span>
                </div>
                <div class="col-md-3">
                    <input type="number" formControlName="Thikness" id="Thikness" class="form-control" 
                        placeholder="{{ 'Product_Length' | translate }}"> mm.
                    <span class="invalid-feedback" >{{ validator.formErrors["Thikness"] }}</span>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-3 form-control-label" for="text-input">
                    {{ 'Product_Diameter' | translate }}
                    <span *ngIf="validator?.isRequired('Diameter')" class="required-label"></span>
                </label>
                <div class="col-md-3">
                    <input type="number" formControlName="Diameter" id="Product_Diameter" class="form-control" 
                        placeholder="{{ 'Product_Diameter' | translate }}"> mm.
                    <span class="invalid-feedback" >{{ validator.formErrors["Diameter"] }}</span>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-3 form-control-label" for="text-input">
                    {{ 'Product_Weight' | translate }}
                    <span *ngIf="validator?.isRequired('Weight')" class="required-label"></span>
                </label>
                <div class="col-md-3">
                    <input type="number" formControlName="Weight" id="Product_Weight" class="form-control" 
                        placeholder="{{ 'Product_Weight' | translate }}"> gr.
                    <span class="invalid-feedback" >{{ validator.formErrors["Weight"] }}</span>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-3 form-control-label" for="text-input">{{ 'Packing_Name' | translate }}
                    <span *ngIf="validator?.isRequired('UnitPacking')" class="required-label"></span>
                </label>
                <div class="col-md-3">
                    <input type="number" formControlName="UnitPacking" id="Product_UnitPacking" class="form-control" 
                        placeholder="{{ 'Product_UnitPacking' | translate }}">
                    <span class="invalid-feedback" >{{ validator.formErrors["UnitPacking"] }}</span>
                </div>
                <div class="col-md-6">
                    <ng-select type="number" [options]="packings" formControlName="IdPacking" placeholder="{{'_PleaseSelect' | translate}}"></ng-select>
                    <span class="invalid-feedback" >{{ validator.formErrors["IdPacking"] }}</span>
                </div>
            </div>

            <div class="form-group row" >
                <product-material class="col-md-12" #productMaterials [productMaterial]="this.data?.ProductMaterial"></product-material>
            </div>
            
            <div class="form-group row" >
                <label class="col-md-3 form-control-label" for="text-input">{{ 'Product_Comment' | translate }}
                    <span *ngIf="validator?.isRequired('Comment')" class="required-label"></span>
                </label>
                <div class="col-md-9">
                    <textarea id="Comment" formControlName="Comment" rows="9" class="form-control" 
                        placeholder="{{ 'Product_Comment' | translate }}"></textarea>
                    <span class="invalid-feedback" >{{ validator.formErrors["Comment"] }}</span>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <button type="submit" [promiseBtn]="promiseEdit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> {{ '_Save' | translate }}</button>
            <button type="reset" (click)="onCancel()" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> {{ '_Cancel' | translate }}</button>
        </div>
    </form>
</div>