<div class="{{mode != 'selector' ? 'card' : '' }}">
    <div *ngIf="mode != 'selector'" class="card-header">
        {{ 'ProductList_Title' | translate }}
    </div>
    <div class="{{mode != 'selector' ? 'card-body' : '' }}">
      <button *ngIf="mode != 'selector'" type="button" routerLink="/admin/products/details/" class="btn btn-primary px-4 mb-3">{{ 'Product_New' | translate }}</button>

      <ngx-datatable class="material" [rows]="rows" [columnMode]="'flex'" [headerHeight]="70"
      [footerHeight]="0" [rowHeight]="'auto'" [limit]="20" [selectionType]="selectionType" 
      [loadingIndicator] = "isLoading"
      (select)='onSelect($event)'
      [messages]="{emptyMessage: 'table_NoData' | translate, totalMessage: 'table_Total' | translate}">

        <ngx-datatable-column prop="Incode" [flexGrow]="2">
          <ng-template let-column="column" ngx-datatable-header-template>
             {{'Product_Incode' | translate}}
						 <br><input type='text' placeholder='{{ "_FilterInputPlaceHolder" | translate }}' 
						 (keyup)='updateFilter($event, "Incode")'/>
          </ng-template>
          <ng-template let-value="value" ngx-datatable-cell-template>
              {{value}}
          </ng-template>
				</ngx-datatable-column>
				
        <ngx-datatable-column prop="Description" [flexGrow]="8">
					<ng-template let-column="column" ngx-datatable-header-template>
							{{'Product_Description' | translate}}
							<br><input type='text' placeholder='{{ "_FilterInputPlaceHolder" | translate }}' 
							(keyup)='updateFilter($event, "Description")'/>
					</ng-template>
					<ng-template let-value="value" ngx-datatable-cell-template>
							{{value}}
					</ng-template>
        </ngx-datatable-column>
        
        <ngx-datatable-column *ngIf="mode != 'selector'" [name]="_Actions" editable="true" cellClass="datatable-body-cell-actions" [flexGrow]="2">
          <ng-template let-column="column" ngx-datatable-header-template>
            {{'_Actions' | translate}}
            <button type="button" class="btn btn-primary btn-sm onrightop" (click)="getData()" tooltip="{{'_Refresh' | translate}}" placement="left">
              <i class="fa fa-refresh" aria-hidden="true"></i></button>
          </ng-template>
          <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" >
              <button type="button" class="btn btn-primary btn-sm" (click)="onDelete(row)" tooltip="{{'_Delete' | translate}}"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
              <a class="btn btn-primary btn-sm" routerLink="/admin/products/details/{{row.IdProduct}}" tooltip="{{'_Edit' | translate}}" ><i class="fa fa-pencil" aria-hidden="true"></i></a>
              <a class="btn btn-primary btn-sm" routerLink="/admin/attaches/product/{{row.IdProduct}}" tooltip="{{'ProductList_Title' | translate}}"><i class="fa fa-paperclip" aria-hidden="true"></i></a>
          </ng-template>                    
        </ngx-datatable-column>
      </ngx-datatable>

    </div>

</div>
