<header class="app-header navbar">
  <button class="navbar-toggler d-lg-none" type="button" appMobileSidebarToggler>&#9776;</button>
  <a class="navbar-brand" href="#"></a> 
  <button class="navbar-toggler d-md-down-none mr-auto" type="button" appSidebarMinimizer>&#9776;</button>
  <!--button class="navbar-toggler d-md-down-none" type="button" appAsideMenuToggler>&#9776;</button-->

  <ul class="nav navbar-nav ml-auto">
    <li class="nav-item d-md-down-none">
      <a class="nav-link" href="#">
        <i class="icon-logout"></i>
        {{ 'Auth_Logout' | translate }}
      </a>
    </li>
  </ul>

  <span class="aside-menu-toggler px-3">
      {{ 'Lang_Language' | translate }} 
      <select #langSelect (change)="translate.use(langSelect.value)">
        <option *ngFor="let lang of translate.getLangs()" 
          [value]="lang" [selected]="lang === translate.currentLang">{{ 'Lang_' + lang | translate }}</option>
      </select>
  </span>
</header>

<div class="app-body">
  <div class="sidebar">
      <!-- <div class="sidebar-header"></div> -->

      <nav class="sidebar-nav">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/admin/dashboard']">
              <i class="icon-speedometer"></i> {{ '_Dashboard' | translate }}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/admin/projects']">
              <i class="icon-bag"></i> {{ '_Projects' | translate }}<span class="badge badge-info">12</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/admin/orders']">
              <i class="icon icon-basket"></i> {{ '_Orders' | translate }}<span class="badge badge-secondary">32</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/admin/shippings']">
              <i class="fa fa-truck" aria-hidden="true"></i> {{ '_Shippings' | translate }}<span class="badge badge-danger">65</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active"  [routerLink]="['/admin/templates']">
              <i class="icon-notebook"></i> {{ '_Templates' | translate }}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active"  [routerLink]="['/admin/products']">
              <i class="icon-puzzle"></i> {{ '_Products' | translate }}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active"  [routerLink]="['/admin/entity/cust']">
              <i class="icon-size-fullscreen"></i> {{ '_Customers' | translate }}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active"  [routerLink]="['/admin/entity/prov']">
              <i class="icon-size-actual"></i> {{ '_Providers' | translate }}</a>
          </li>
          <li class="nav-item nav-dropdown mt-auto" routerLinkActive="open" appNavDropdown>
            <a class="nav-link nav-dropdown-toggle" href="#" appNavDropdownToggle><i class="fa fa-cog" aria-hidden="true"></i>  {{ '_Settings' | translate }}</a>
            <ul class="nav-dropdown-items">
              <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" [routerLink]="['/admin/materials']"><i class="fa fa-object-group" aria-hidden="true"></i> {{ '_Materials' | translate }}</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" routerLinkActive="active" [routerLink]="['/admin/packings']"><i class="fa fa-dropbox" aria-hidden="true"></i> {{ '_Packings' | translate }}</a>
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <i class="icon-logout"></i>
              {{ 'Auth_Logout' | translate }}
            </a>            
          </li>
        </ul>
      </nav>

      <div class="sidebar-footer">
      </div>
    </div>
      
  <!-- Main content -->
  <main class="main" style="margin-top: 10px;">
    <!-- Breadcrumb -->
    <!-- <ol class="breadcrumb">
      <app-breadcrumbs></app-breadcrumbs>
    </ol> -->
    
    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div><!-- /.conainer-fluid -->
  </main>
  <aside class="aside-menu">
      
  </aside>
</div>

<footer class="app-footer">
    <a href="http://www.agroturn.es">Agroturn</a> &copy; 2017
    <span class="float-right">v0.1.0.0</span>
</footer>
  
