<div class="card" *ngIf="!(this.isFormMetaReady && this.isDataReady && this.isRelatedDataReady)">
        <div class="card-body" >
            <app-spinner showMessage="true"></app-spinner>
        </div>
    </div>
<div class="card" *ngIf="(this.isFormMetaReady && this.isDataReady && this.isRelatedDataReady)">
    <form (ngSubmit)="onSubmit()" [formGroup]="detailsForm" >
        
        <div class="card-header">
            <strong>{{ 'ProjectDetail_Title' | translate }}</strong>
        </div>
        
        <div class="card-body">

            <div class="form-group row">
                <label class="col-md-3 form-control-label" for="text-input">
                    {{ 'Project_Date' | translate }}
                    <span *ngIf="validator?.isRequired('Date')" class="required-label"></span>
                </label>
                <div class="col-md-3">
                    <input type="date" formControlName="Date" id="Date" class="form-control" 
                        placeholder="{{ 'Project_Date' | translate }}" useValueAsDate>
                    <span class="invalid-feedback" >{{ validator.formErrors["Date"] }}</span>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-3 form-control-label" for="text-input">
                    {{ 'Project_Priority' | translate }}
                    <span *ngIf="validator?.isRequired('Priority')" class="required-label"></span>
                </label>
                <div class="col-md-3">
                    <star-rating-comp [starType]="'svg'" [rating]="ratingValue"></star-rating-comp>
                    <span class="invalid-feedback" >{{ validator.formErrors["Priority"] }}</span>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-3 form-control-label" for="text-input">
                    {{ 'Project_IsOpen' | translate }}
                    <span *ngIf="validator?.isRequired('IsOpen')" class="required-label"></span>
                </label>
                <div class="col-md-3">
                    <input type="radio" formControlName="IsOpen" id="IsOpen_true" [value]="true" > {{ '_true' | translate }}
                    <input type="radio" formControlName="IsOpen" id="IsOpen_false" [value]="false" > {{ '_false' | translate }}
                    <span class="invalid-feedback" >{{ validator.formErrors["IsOpen"] }}</span>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-3 form-control-label" for="text-input">
                    {{ 'Project_Entity' | translate }}
                    <span *ngIf="validator?.isRequired('IdEntity')" class="required-label"></span>
                </label>
                <div class="col-md-3">
                    <ng-select class="w-100" [options]="customers" formControlName="IdEntity" placeholder="{{'_PleaseSelect' | translate}}"></ng-select>
                    <span class="invalid-feedback" >{{ validator.formErrors["IdEntity"] }}</span>
                </div>
            </div>

            <div class="form-group row" >
                <agro-translation class="col-md-12" #translations [columns]="transColumns" [translations]="this.data?.ProyectLanguage" ></agro-translation>
            </div>

        </div>
        <div class="card-footer">
            <button type="submit" [promiseBtn]="promiseEdit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> {{ '_Save' | translate }}</button>
            <button type="reset" (click)="onCancel()" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> {{ '_Cancel' | translate }}</button>
        </div>
    </form>
</div>