<div class="card">
    <div class="card-header">
        {{ 'ProjectList_Title' | translate }}
    </div>
    <div class="card-body">
      <button type="button" routerLink="/admin/projects/details/" class="btn btn-primary px-4 mb-3">{{ 'Project_New' | translate }}</button>

      <ngx-datatable class="material" [rows]="rows" [columnMode]="'flex'" [headerHeight]="70"
      [footerHeight]="0" [rowHeight]="'auto'" [limit]="20" [selectionType]="'single'" 
      [loadingIndicator] = "isLoading"
      (select)='onSelect($event)'
      [messages]="{emptyMessage: 'table_NoData' | translate, totalMessage: 'table_Total' | translate}">

        <ngx-datatable-column prop="Date" [flexGrow]="2">
          <ng-template let-column="column" ngx-datatable-header-template>
            {{'Project_Date' | translate}}
          </ng-template>
          <ng-template let-value="value" ngx-datatable-cell-template>
            {{value | date: 'dd/MM/yyyy'}}
          </ng-template>
				</ngx-datatable-column>

        <ngx-datatable-column prop="Priority" [flexGrow]="2">
          <ng-template let-column="column" ngx-datatable-header-template>
             {{'Project_Priority' | translate}} 
              <button type="button" class="btn btn-link pb-0 pt-0" title="{{ '_ClearFilter' | translate}}" [disabled]="ratingValue == 0" (click)="clearRatingFilter()"><i class="fa fa-window-close" aria-hidden="true"></i></button>
              <br><star-rating-comp [starType]="'svg'" [rating]="0" (onRatingChange)="updateRatingFilter($event)"></star-rating-comp>
              
          </ng-template>
          <ng-template let-value="value" ngx-datatable-cell-template>
              <star-rating-comp [starType]="'svg'" [rating]="value" [readOnly]="true"></star-rating-comp>
          </ng-template>
        </ngx-datatable-column>
        
        <ngx-datatable-column prop="IdEntityNavigation.Name" [flexGrow]="3">
					<ng-template let-column="column" ngx-datatable-header-template>
							{{'Project_Entity' | translate}}
							<br><input type='text' placeholder='{{ "_FilterInputPlaceHolder" | translate }}' 
							(keyup)='updateTextFilter($event, "IdEntityNavigation.Name")'/>
					</ng-template>
					<ng-template let-value="value" ngx-datatable-cell-template>
							{{value}}
					</ng-template>
        </ngx-datatable-column>
				
        <ngx-datatable-column prop="Name" [flexGrow]="3">
					<ng-template let-column="column" ngx-datatable-header-template>
							{{'Project_Name' | translate}}
							<br><input type='text' placeholder='{{ "_FilterInputPlaceHolder" | translate }}' 
							(keyup)='updateTextFilter($event, "Name")'/>
					</ng-template>
					<ng-template let-value="value" ngx-datatable-cell-template>
							{{value}}
					</ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column prop="IsOpen" [flexGrow]="1">
					<ng-template let-column="column" ngx-datatable-header-template>
							{{'Project_IsOpen' | translate}}
              <br><select (change)="updateSelectionFilter($event,'Type')" class="w-100">
                <option value="" selected="selected">{{'_FilterSelectPlaceHolder' | translate}}</option>
                <option *ngFor="let f of boolFilter" [value]="f.value">{{f.label}}</option>
              </select>
					</ng-template>
					<ng-template let-value="value" ngx-datatable-cell-template>
							{{ '_' + value | translate}}
					</ng-template>
        </ngx-datatable-column>
        
        <ngx-datatable-column editable="true" cellClass="datatable-body-cell-actions" [flexGrow]="2">
          <ng-template let-column="column" ngx-datatable-header-template>
            {{'_Actions' | translate}}
            <button type="button" class="btn btn-primary btn-sm onrightop" (click)="getData()" tooltip="{{'_Refresh' | translate}}" placement="left">
                <i class="fa fa-refresh" aria-hidden="true"></i></button>
          </ng-template>
          <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" >
              <button type="button" class="btn btn-primary btn-sm" (click)="onDelete(row)" tooltip="{{'_Delete' | translate}}"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
              <a class="btn btn-primary btn-sm" routerLink="/admin/projects/details/{{row.IdProyect}}" tooltip="{{'_Edit' | translate}}" ><i class="fa fa-pencil" aria-hidden="true"></i></a>
              <a class="btn btn-primary btn-sm" routerLink="/admin/projects/details/{{row.IdProyect}}/sets"  tooltip="{{'_Sets' | translate}}" ><i class="fa fa-sitemap" aria-hidden="true"></i></a>
          </ng-template>                    
        </ngx-datatable-column>
      </ngx-datatable>

    </div>
</div>
