<div class="card" *ngIf="!(this.isFormMetaReady && this.isDataReady && this.isRelatedDataReady)">
    <div class="card-body" >
        <app-spinner showMessage="true"></app-spinner>
    </div>
</div>
<div class="card" *ngIf="(this.isFormMetaReady && this.isDataReady && this.isRelatedDataReady)">
    <form (ngSubmit)="onSubmit()" [formGroup]="detailsForm" >
        <div class="card-header">
            <strong>{{ 'SetDetail_Title' | translate }}</strong>
        </div>
        
        <div class="card-body">

            <div class="form-group row">
                <label class="col-md-3 form-control-label" for="text-input">
                    {{ 'Set_Date' | translate }}
                    <span *ngIf="validator?.isRequired('Date')" class="required-label"></span>
                </label>
                <div class="col-md-9">
                    <input type="date" formControlName="Date" id="Date" class="form-control" 
                        placeholder="{{ 'Set_Date' | translate }}" useValueAsDate>
                    <span class="invalid-feedback" >{{ validator.formErrors["Date"] }}</span>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-3 form-control-label" for="text-input">
                    {{ 'Set_EndDate' | translate }}
                    <span *ngIf="validator?.isRequired('EndDate')" class="required-label"></span>
                </label>
                <div class="col-md-9">
                    <input type="date" formControlName="EndDate" id="EndDate" class="form-control" 
                        placeholder="{{ 'Set_EndDate' | translate }}" useValueAsDate>
                    <span class="invalid-feedback" >{{ validator.formErrors["EndDate"] }}</span>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-3 form-control-label" for="text-input">
                    {{ 'Set_Priority' | translate }}
                    <span *ngIf="validator?.isRequired('Priority')" class="required-label"></span>
                </label>
                <div class="col-md-9">
                    <star-rating-comp [starType]="'svg'" [rating]="ratingValue"></star-rating-comp>
                    <span class="invalid-feedback" >{{ validator.formErrors["Priority"] }}</span>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-3 form-control-label" for="text-input">
                    {{ 'Set_Sys' | translate }}
                    <span *ngIf="validator?.isRequired('Sys')" class="required-label"></span>
                </label>
                <div class="col-md-9">
                    <input type="text" formControlName="Sys" id="Sys" class="form-control" 
                        placeholder="{{ 'Set_Sys' | translate }}">
                    <span class="invalid-feedback" >{{ validator.formErrors["Sys"] }}</span>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-3 form-control-label" for="text-input">
                    {{ 'Set_Sys2' | translate }}
                    <span *ngIf="validator?.isRequired('Sys2')" class="required-label"></span>
                </label>
                <div class="col-md-9">
                    <input type="text" formControlName="Sys2" id="Sys2" class="form-control" 
                        placeholder="{{ 'Set_Sys2' | translate }}">
                    <span class="invalid-feedback" >{{ validator.formErrors["Sys2"] }}</span>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-3 form-control-label" for="text-input">
                    {{ 'Set_Sec' | translate }}
                    <span *ngIf="validator?.isRequired('Sec')" class="required-label"></span>
                </label>
                <div class="col-md-9">
                    <input type="text" formControlName="Sec" id="Sec" class="form-control" 
                        placeholder="{{ 'Set_Sec' | translate }}">
                    <span class="invalid-feedback" >{{ validator.formErrors["Sec"] }}</span>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-3 form-control-label" for="text-input">
                    {{ 'Set_Sec2' | translate }}
                    <span *ngIf="validator?.isRequired('Sec2')" class="required-label"></span>
                </label>
                <div class="col-md-9">
                    <input type="text" formControlName="Sec2" id="Sec2" class="form-control" 
                        placeholder="{{ 'Set_Sec2' | translate }}">
                    <span class="invalid-feedback" >{{ validator.formErrors["Sec2"] }}</span>
                </div>
            </div>

            <div class="form-group row" >
                <agro-translation class="col-md-12" #translations [translations]="this.data?.SetLanguage" [columns]="transColumns"></agro-translation>
            </div>

            <div class="form-group row">
                <label class="col-md-3 form-control-label" for="text-input">
                    {{ 'Set_Comment' | translate }}
                    <span *ngIf="validator?.isRequired('Comment')" class="required-label"></span>
                </label>
                <div class="col-md-9">
                    <textarea formControlName="Comment" id="Comment" class="form-control" 
                        placeholder="{{ 'Set_Comment' | translate }}"></textarea>
                    <span class="invalid-feedback" >{{ validator.formErrors["Comment"] }}</span>
                </div>
            </div>

        </div>
        <div class="card-footer">
            <button type="submit" [promiseBtn]="promiseEdit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> {{ '_Save' | translate }}</button>
            <button type="reset" (click)="onCancel()" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> {{ '_Cancel' | translate }}</button>
        </div>
    </form>
</div>