<button type="button" class="btn btn-primary mb-2" (click)="onProductAddBegin()" [disabled]="isAdding" >
    <i class="fa fa-dot-circle-o"></i> {{ 'Set_AddProduct' | translate }}
</button>

<div class="card" *ngIf="isAdding" >
    <div class="card-header" >
      {{ 'SetProduct_SelectProductsToAdd' | translate}}
      <span class="float-right">
          <button type="button" class="btn btn-primary btn-sm" (click)="onProductAdd()">
            <i class="fa fa-dot-circle-o"></i> {{ 'Set_AddProduct' | translate }}
          </button>
          <button type="button" class="btn btn-primary btn-sm" (click)="onProductAddCancel()">
              <i class="fa fa-ban"></i> {{ '_Cancel' | translate }}
          </button>
      </span>
    </div>
    <div class="card-body" >
        <agro-product-list [mode]="'selector'" (select)="onProductSelected($event)" [excludeIds]="getProductIds()"
        [selectionType]="'multiClick'"></agro-product-list>
    </div>
</div>

<ngx-datatable *ngIf="!isAdding" class="material" [rows]="rows" [columnMode]="'force'" [headerHeight]="70"
[footerHeight]="0"
[loadingIndicator] = "isLoading"
[messages]="{emptyMessage: 'table_NoData' | translate, totalMessage: 'table_Total' | translate}"
[scrollbarV]="true" [rowHeight]="50" >
  
  <ngx-datatable-column [width]="60">
    <ng-template let-column="column" ngx-datatable-header-template>
        {{'SetProduct_Reference' | translate}}
    </ng-template>
    <ng-template let-rowIndex="rowIndex" ngx-datatable-cell-template>
        <span *ngIf="!isLoading">{{ rowIndex+1 }}</span>
    </ng-template>
  </ngx-datatable-column>
  
  <ngx-datatable-column prop="Date" [width]="160">
    <ng-template let-column="column" ngx-datatable-header-template>
        {{'SetProduct_Date' | translate}}
    </ng-template>
    <ng-template let-value="value" let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
        <div style="height:50px;" *ngIf="!isEditing(rowIndex)" (dblclick)="onBeginEdit(row, rowIndex)">{{value | date: 'dd/MM/yyyy'}}</div>
        <input type="date" *ngIf="isEditing(rowIndex)" [value]="value" 
          (blur)="updateEditingValue($event, 'Date', rowIndex)" class="form-control p-1">
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column prop="IdProductNavigation.Incode" [width]="200">
    <ng-template let-column="column" ngx-datatable-header-template>
        {{'Product_Incode' | translate}}
        <br><input type='text' placeholder='{{ "_FilterInputPlaceHolder" | translate }}' 
        (keyup)='updateTextFilter($event, "IdProductNavigation.Incode")'/>
    </ng-template>
    <ng-template let-value="value" ngx-datatable-cell-template>
        {{ value }}
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column prop="IdProductNavigation.Description" [width]="400">
    <ng-template let-column="column" ngx-datatable-header-template>
        {{'Product_Description' | translate}}
        <br><input type='text' placeholder='{{ "_FilterInputPlaceHolder" | translate }}' 
        (keyup)='updateTextFilter($event, "IdProductNavigation.Description")'/>
    </ng-template>
    <ng-template let-value="value" ngx-datatable-cell-template>
        {{ value }}
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column prop="Price" [width]="120" [cellClass]="'text-right'">
    <ng-template let-column="column" ngx-datatable-header-template>
        {{'SetProduct_Price' | translate}}
    </ng-template>
    <ng-template let-rowIndex="rowIndex" let-value="value" let-row="row" ngx-datatable-cell-template>
        <div style="height:50px;" *ngIf="!isEditing(rowIndex)" (dblclick)="onBeginEdit(row, rowIndex)">{{formatCurrency(value)}}</div>
        <input type="number" *ngIf="isEditing(rowIndex)" [value]="value" 
          (blur)="updateEditingValue($event, 'Price', rowIndex)" class="form-control p-1">
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column prop="Units" [width]="80" [cellClass]="'text-right'">
    <ng-template let-column="column" ngx-datatable-header-template>
      {{'SetProduct_Units' | translate}}
    </ng-template>
    <ng-template let-value="value" let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
        <div style="height:50px;" *ngIf="!isEditing(rowIndex)" (dblclick)="onBeginEdit(row, rowIndex)">{{value}}</div>
        <input type="number" *ngIf="isEditing(rowIndex)" [value]="value" 
          (blur)="updateEditingValue($event, 'Units', rowIndex)" class="form-control p-1">
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column [width]="100" [cellClass]="'text-right'">
    <ng-template let-column="column" ngx-datatable-header-template>
        {{'SetProduct_TotalPrice' | translate}}
    </ng-template>
    <ng-template let-row="row" ngx-datatable-cell-template>
        {{ formatCurrency(row.Units * row.Price) }}
    </ng-template>
  </ngx-datatable-column>
  
  <ngx-datatable-column editable="true" cellClass="datatable-body-cell-actions" [width]="100">
    <ng-template let-column="column" ngx-datatable-header-template>
      {{'_Actions' | translate}}
    </ng-template>
    <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" >
        <div *ngIf="row.IdProduct > 0">
            <button *ngIf="!isEditing(rowIndex)" type="button" class="btn btn-primary btn-sm" (click)="onDelete(row)" tooltip="{{'_Delete' | translate}}"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
            <button *ngIf="!isEditing(rowIndex)" type="button" class="btn btn-primary btn-sm" (click)="onBeginEdit(row, rowIndex)" tooltip="{{'_Edit' | translate}}" ><i class="fa fa-pencil" aria-hidden="true"></i></button>
    
            <button *ngIf="isEditing(rowIndex)" type="button" class="btn btn-primary btn-sm" (click)="onSaveEditingRow(rowIndex)"><i class="fa fa-save" aria-hidden="true"></i></button>
            <button *ngIf="isEditing(rowIndex)" type="button" class="btn btn-primary btn-sm" (click)="onCancelEdit(rowIndex)"><i class="fa fa-ban" aria-hidden="true"></i></button>        
        </div>
    </ng-template>
  </ngx-datatable-column>
</ngx-datatable>


