<div class="card">
    <div class="card-header">
        {{ 'SetList_Title' | translate }}
    </div>
    <div class="card-body">
      <button type="button" routerLink="/admin/projects/details/{{idProject}}/sets/details/" class="btn btn-primary px-4 mb-3">{{ 'Set_New' | translate }}</button>
      <a class="btn btn-primary px-4 mb-3" routerLink="../templatestree">{{ 'Set_ImportTemplate' | translate }}</a>

      <ngx-datatable class="material expandable" [rows]="rows" [columnMode]="'force'" [headerHeight]="70"
      [footerHeight]="0" [rowHeight]="'auto'"
      [loadingIndicator] = "isLoading"
      [messages]="{emptyMessage: 'table_NoData' | translate, totalMessage: 'table_Total' | translate}">
        
        <ngx-datatable-row-detail [rowHeight]="'auto'" #myDetailRow >
          <ng-template let-row="row" let-expanded="expanded" ngx-datatable-row-detail-template>
            <agro-set-product-list [idSet]="row.IdSet"></agro-set-product-list>
          </ng-template>
        </ngx-datatable-row-detail>

        <ngx-datatable-column
          [width]="50"
          [resizeable]="false"
          [sortable]="false"
          [draggable]="false"
          [canAutoResize]="false">
          <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
            <a
              href="javascript:void(0)"
              [class.datatable-icon-right]="!expanded"
              [class.datatable-icon-down]="expanded"
              title="{{ 'Set_Expand' | translate}}"
              (click)="toggleExpandRow(row)">
            </a>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column prop="Sys" [width]="60">
          <ng-template let-column="column" ngx-datatable-header-template>
             {{'Set_Sys' | translate}}
						 <br><input type='text' placeholder='{{ "_FilterInputPlaceHolder" | translate }}' 
						 (keyup)='updateFilter($event, "Sys")'/>
          </ng-template>
          <ng-template let-value="value" ngx-datatable-cell-template>
              {{value}}
          </ng-template>
				</ngx-datatable-column>

        <ngx-datatable-column prop="Sys2" [width]="60">
          <ng-template let-column="column" ngx-datatable-header-template>
             {{'Set_Sys2' | translate}}
						 <br><input type='text' placeholder='{{ "_FilterInputPlaceHolder" | translate }}' 
						 (keyup)='updateFilter($event, "Sys2")'/>
          </ng-template>
          <ng-template let-value="value" ngx-datatable-cell-template>
              {{value}}
          </ng-template>
        </ngx-datatable-column>
        
        <ngx-datatable-column prop="Sec" [width]="60">
          <ng-template let-column="column" ngx-datatable-header-template>
              {{'Set_Sec' | translate}}
              <br><input type='text' placeholder='{{ "_FilterInputPlaceHolder" | translate }}' 
              (keyup)='updateFilter($event, "Sec")'/>
          </ng-template>
          <ng-template let-value="value" ngx-datatable-cell-template>
              {{value}}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column prop="Sec2" [width]="60">
          <ng-template let-column="column" ngx-datatable-header-template>
              {{'Set_Sec2' | translate}}
              <br><input type='text' placeholder='{{ "_FilterInputPlaceHolder" | translate }}' 
              (keyup)='updateFilter($event, "Sec2")'/>
          </ng-template>
          <ng-template let-value="value" ngx-datatable-cell-template>
              {{value}}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column prop="Date" [width]="100">
          <ng-template let-column="column" ngx-datatable-header-template>
            {{'Set_Date' | translate}}
          </ng-template>
          <ng-template let-value="value" ngx-datatable-cell-template>
            {{value | date: 'dd/MM/yyyy'}}
          </ng-template>
        </ngx-datatable-column>
      
        <ngx-datatable-column prop="EndDate" [width]="100">
            <ng-template let-column="column" ngx-datatable-header-template>
              {{'Set_EndDate' | translate}}
            </ng-template>
            <ng-template let-value="value" ngx-datatable-cell-template>
              {{value | date: 'dd/MM/yyyy'}}
            </ng-template>
          </ngx-datatable-column>
				
        <ngx-datatable-column prop="Name">
					<ng-template let-column="column" ngx-datatable-header-template>
							{{'Set_Name' | translate}}
							<br><input type='text' placeholder='{{ "_FilterInputPlaceHolder" | translate }}' 
							(keyup)='updateFilter($event, "Name")'/>
					</ng-template>
					<ng-template let-value="value" ngx-datatable-cell-template>
							{{value}}
					</ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column prop="Priority" [width]="125">
          <ng-template let-column="column" ngx-datatable-header-template>
              {{'Project_Priority' | translate}} 
              <button type="button" class="btn btn-link pb-0 pt-0" title="{{ '_ClearFilter' | translate}}" [disabled]="ratingValue == 0" (click)="clearRatingFilter()"><i class="fa fa-window-close" aria-hidden="true"></i></button>
              <br><star-rating-comp [starType]="'svg'" [rating]="0" (onRatingChange)="updateRatingFilter($event)"></star-rating-comp>
              
          </ng-template>
          <ng-template let-value="value" ngx-datatable-cell-template>
              <star-rating-comp [starType]="'svg'" [rating]="value" [readOnly]="true"></star-rating-comp>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column prop="Comment" [width]="40">
          <ng-template let-column="column" ngx-datatable-header-template>
              <!-- {{'Set_Comment' | translate}}                -->
          </ng-template>
          <ng-template let-value="value" ngx-datatable-cell-template>
              <i class="fa fa-commenting-o" aria-hidden="true" *ngIf="value != null && value.length > 0"
                title="{{value}}"></i>
          </ng-template>
        </ngx-datatable-column>
        
        <ngx-datatable-column editable="true" cellClass="datatable-body-cell-actions" [width]="100">
          <ng-template let-column="column" ngx-datatable-header-template>
            {{'_Actions' | translate}}
            <button type="button" class="btn btn-primary btn-sm onrightop" (click)="getData()" tooltip="{{'_Refresh' | translate}}" placement="left">
                <i class="fa fa-refresh" aria-hidden="true"></i></button>
          </ng-template>
          <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" >
              <button type="button" class="btn btn-primary btn-sm" (click)="onDelete(row)" tooltip="{{'_Delete' | translate}}"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
              <a class="btn btn-primary btn-sm" routerLink="/admin/projects/details/{{idProject}}/sets/details/{{row.IdSet}}" tooltip="{{'_Edit' | translate}}" ><i class="fa fa-pencil" aria-hidden="true"></i></a>
          </ng-template>                    
        </ngx-datatable-column>
      </ngx-datatable>

    </div>
</div>
