// Here you can add other styles
//ngx-datatable
@import '~@swimlane/ngx-datatable/release/index.css';
@import './_custom/ngx-datatable-agro.css';
@import '~@swimlane/ngx-datatable/release/assets/icons.css';

//fix forms
.invalid-feedback
{
    display: block !important;
}

//toast
@import './_custom/toast.css';

//spinner
@import './_custom/spinner.css';

.pointer
{
    cursor: hand;
    cursor: pointer;
}

.onrightop {
    position: absolute;
    top: 10px;
    right: 5px;
}

.required-label:after {
    content: ' *';
    display:inline;
}