<button type="button" (click)="onAdd($event)" [disabled]="(this.remainingLangs.length == 0)" 
  class="btn btn-primary px-4 mb-3">{{ 'Translation_New' | translate }}</button>

<ngx-datatable class="material" [rows]="rows" [columnMode]="'flex'" [headerHeight]="70"
[footerHeight]="0" [rowHeight]="'auto'" [limit]="20" [selectionType]="'single'" 
[loadingIndicator] = "isLoading"
[messages]="{emptyMessage: 'table_NoData' | translate, totalMessage: 'table_Total' | translate}">
  
  <ngx-datatable-row-detail *ngIf="autoTransLangs" [rowHeight]="65 * this.columns.length" #myDetailRow> <!---->
    <ng-template let-row="row" let-expanded="expanded" ngx-datatable-row-detail-template>
      <div class="container">
        <div *ngFor="let field of this.columns" class="row w-100" > <!--*ngIf="autoTransLangs"-->
          <div class="col-md-2" *ngIf="columns.length > 1">
            {{field.label | translate}}
          </div>
          <div class="col-md-9">
            <ul class="list-inline">
              <li *ngFor="let al of autoTransLangs[field.prop][row.IdLanguage].Auto" class="list-inline-item">
                <label class="switch switch-3d switch-success">
                    <input type="checkbox" class="switch-input" [checked]="al.Active" (change)="onActiveLangChange($event, al)" >
                    <span class="switch-label"></span>
                    <span class="switch-handle"></span>
                </label> {{getLanguageDesc(al.IdLanguage)}}
              </li>
            </ul>
          </div>
          <div class="col-md-1">
              <button type="button" (click)="onTranslate(row.IdLanguage, row[field.prop], field.prop)"
                class="btn btn-primary px-4 mb-3" [promiseBtn]="promiseTranslate" >
                <i class="fa fa-language fa-2x" aria-hidden="true"></i>
              </button>
          </div>
        </div>
      </div>
    </ng-template>
  </ngx-datatable-row-detail>


  <ngx-datatable-column prop="Language" [flexGrow]="2">
    <ng-template let-column="column" ngx-datatable-header-template>
        {{'Translation_Language' | translate}}
    </ng-template>
    <ng-template let-rowIndex="rowIndex" let-value="value" let-row="row" ngx-datatable-cell-template>
        <select class="w-100" (change)="onLangChange($event, rowIndex)">
          <option value="row.IdLanguage" >{{getLanguageDesc(row.IdLanguage)}}</option>
          <option *ngFor="let l of this.remainingLangs" [value]="l.IdLanguage">{{getLanguageDesc(l.IdLanguage)}}</option> 
        </select>
    </ng-template> 
  </ngx-datatable-column>

  <ngx-datatable-column [flexGrow]="8">
    <ng-template ngx-datatable-header-template>
        <span *ngIf="columns.length == 1" >{{ columns[0].label | translate}} </span>
    </ng-template>
    <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row">
      <div *ngFor="let field of this.columns"> 
        <label *ngIf="columns.length > 1">{{ field.label | translate}}:</label>
        <input *ngIf="!field.isMultiline" type="text" class="w-100" value="{{row[field.prop] == null ? '' : row[field.prop]}}" 
          (blur)="updateTextValue($event, field.prop, rowIndex)" [attr.maxlength]="maxLength"
          placeholder="{{ 'Translation_Description' | translate }}">
        <textarea *ngIf="field.isMultiline" class="w-100" value="{{row[field.prop] == null ? '' : row[field.prop]}}" [attr.maxlength]="maxLength"
        (blur)="updateTextValue($event, field.prop, rowIndex)"
        placeholder="{{ 'Translation_Description' | translate }}"></textarea>
      </div>
    </ng-template>
  </ngx-datatable-column>
  
  <ngx-datatable-column editable="true" cellClass="datatable-body-cell-actions" [flexGrow]="2">
    <ng-template let-column="column" ngx-datatable-header-template>
      {{'_Actions' | translate}}
    </ng-template>
    <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" >
      <button type="button" class="btn btn-primary btn-sm" (click)="onDelete(row)" tooltip="{{'_Delete' | translate}}">
        <i class="fa fa-trash-o" aria-hidden="true"></i></button>
      <button type="button" class="btn btn-primary btn-sm" (click)="toggleExpandRow(row)">
        <i class="fa fa-language" aria-hidden="true"></i></button>
    </ng-template>                    
  </ngx-datatable-column>

</ngx-datatable>